.App {
  /* text-align: center; */
  font-family: "Merriweather", sans-serif;
  background-color: white;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #3f4254;
  background-color: transparent;
}

.table:not(.table-bordered) thead th,
.table:not(.table-bordered) thead td {
  border-top: 0;
}

.label.label-inline {
  width: auto;
  padding: 0.15rem 0.75rem;
  border-radius: 0.42rem;
}

.label.label-light-primary {
  color: #1bc5bd;
  background-color: #c9f7f5;
}

.label {
  font-size: 0.8rem;
}

.card-footer {
  margin-top: 10px;
  padding: 1rem 0rem;
  background-color: #ffffff;
  border-top: 1px solid #ebedf3;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.42rem - 1px) calc(0.42rem - 1px);
}

.btn.btn-primary {
  color: #ffffff;
  background-color: #1bc5bd;
  border-color: #1bc5bd;
  cursor: pointer;
}

.btn.btn-secondary {
  color: #3f4254;
  background-color: #e4e6ef;
  border-color: #e4e6ef;
  cursor: pointer;
}
